canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    position: relative;
    top: 78px;
}

body,
html,
article,
section {
    font-family: 'Courier New', monospace;
    color: #00ff00;
}


.navbar {
    background-color: #0000009a;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 40px;
}




.liens-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 60px;
    position: relative;
}

.liens-nav a {
    color: #00ff00;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.liens-nav a:hover {
    color: #3b9836;
}

.navbar .liens-nav .active {
    text-decoration: underline;

}

.hidden {
    display: none;
    position: absolute;
    flex-direction: column;
    cursor: pointer;
    padding: 10px 0px;
    background-color: #000000d3;
    ;
    z-index: 5;
}

.hidden a {
    cursor: pointer;
    padding: 10px 0px;

}

.survol:hover .hidden {
    display: flex;
}


section {
    position: relative;
    z-index: 1;
    width: 40%;
    margin-left: 10%;
    padding: 20px;
    float: left;
    background-color: rgba(0, 0, 0, 0.803);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.635),
        0 6px 20px rgba(1, 250, 1, 0.535);

}

article {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.803);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.635),
        0 6px 20px rgba(1, 250, 1, 0.535);
}

aside {
    position: relative;
    float: inline-end;
    z-index: 1;
    width: 25%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.803);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.635),
        0 6px 20px rgba(1, 250, 1, 0.535);
}

aside ul {
    list-style: none;
}

aside li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

aside a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #00ff00;
}

aside img {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

aside a:hover {
    color: #3b9836;
}


.pres {
    display: flex;
    padding: 10px;
}




.pres img {
    max-width: 50px;
    height: auto;
    border-radius: 10%;
    margin-right: 10px;
}




aside img {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.384),
        0 6px 20px rgba(0, 255, 0, 0.3);
}


a {
    text-decoration: none;
    color: #00ff0096;
}

span {
    padding: 10px;
}

a img {
    padding: 1px;
}

a:hover {
    text-decoration: underline;
}


h1,
h2 {
    color: #12c012;
    text-shadow: 0 0 10px #e3efe339, 0 0 20px #f3f7f35e;
}

footer {
    background-color: #0000009a;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 10px;
}


@media (max-width: 800px) {

    section {
        flex-direction: column;
        align-items: center;
        width: 75%;
    }

    aside {
        margin-left: 0;
        margin-top: 20px;
        width: 80%;
    }
}